
body {
	font-family: Arial, sans-serif;
	font-style: italic;
	background: beige;
	color: black;

}
	h1 {
		border-bottom: 1px solid #AAAAAA;
		text-transform: uppercase;
		margin: 0;
		font-size: 1.5rem;
		white-space: nowrap;

}	
	p {
		width: 50%; text-align: justify;
		
}

.kiri { /* kasutasin seda lehte järgneval koodil: https://www.w3.org/Style/Examples/007/center.en.html */
	padding: 5px 10px;
	border-top: 1px solid #AAAAAA;	
	
	height: 10em;
    position: relative ;
	
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
}

td, th {
	padding: 5px 10px;
	border-top: 1px solid #AAAAAA;	
	
}

.image {
	
    width: 1200px;
    height: 1000px;
	float: right;
	opacity: 0.9;
}

.image img {
    width: 100%;
    height: auto;
	opacity: 0.9;
}

.border {
	padding: 5px 10px;
	border-top: 1px solid #AAAAAA;
	
}

table {
	border-spacing: 0;	
}

.kesk { /* kasutasin seda lehte järgneval koodil: https://www.w3.org/Style/Examples/007/center.en.html */
	padding: 5px 10px;
	border-top: 1px solid #AAAAAA;	
	
	height: 10em;
    position: relative ;
	
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	
}

.nupp { /* kasutasin seda lehte järgneval koodil: https://www.w3.org/Style/Examples/007/center.en.html */
	height: 10em;
    position: relative ;
	margin: 0;
    position: absolute;
    top: 65%;
    left: 70%;
    margin-right: -70%;
    transform: translate(-50%, -50%);
	
}

input[type="text"], input[type="password"] {
	font-family: Arial, sans-serif;
	font-size: 15px;
	width: 250px;
	padding: 5px 10px;
	border: 1px dashed #AAAAAA;
	border-radius: 3px;
	
}

.footer {
	position: fixed;
	right: 10px;
	bottom: 10px;
	font-family: Arial, sans-serif;
	
	border: 1px solid gray;

}
